/* body */
body > .container{ display: flex; flex-direction: column; align-items: center; padding: 40px;}

.navbar-tooglebtn {
    display: none;
    position: absolute;
    right: 30px;
    top: 40px;
    font-size: 24px;
    color: #d49466;
}
@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar-main {
        width: 200px;
    }

    .main-menu{
        display: none;
        flex-direction: column;
    }

    .main-menu li{
        width: 100%;
        text-align: center;
    }

    .navbar-sub {
        width: 200px;
    }

    .sub-menu {
        display: none;
        flex-direction: column;
    }

    .sub-menu li{
        width: 100%;
        text-align: center;
        padding: 8px 16px;
    }

    .navbar-tooglebtn {
        display: inline;
    }

    .main-menu.active,
    .sub-menu.active {
        display: flex;
    }
}